/* MY CSS HERE */

.content
{
 text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
}

.buttontop {
    margin-left: auto; 
    width: 250px;
}

.buttonbottom {
    width: 30%;
}
.bottomtext {
    position: fixed;

    bottom: 0;
    width: 100%;
    background-color: lightgray;
    /* display: inline-block; */
    left: 0;
    right: 0;
    display: flex; 

    justify-content: center;
    align-items: center; 
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 300px;
    width: 550px;
    position: relative;
  }

.cardtopleft {
    position: absolute;
    top: 0;
    left: 0;
    /* Optional styles for the text */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

.cardtopright {
    position: absolute;
    top: 0;
    right: 0;
    /* Optional styles for the text */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}